.header-container {
    position: fixed;
    width: 100vw;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.content-container {
    position: fixed;
    height: 72px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 0px 24.2px 0px #00000040;
    background-color: white;
    
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header-content{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

.informative {
  position: relative;
}

.informative::before,
.informative::after {
  content: "";
  position: absolute;
  top: 50%; /* or adjust if needed */
  height: 34px;
  width: 1px;
  background-color: #BD914A;
  transform: translateY(-50%);
}

.informative::before {
  left: 0;
}

.informative::after {
  right: 0;
}

.cursor-tail-container {
  position: fixed;
  top: 0;
  left: 0;

}

.cursor-dot {
  width: 20px;
  height: 20px;
  background-color: #6E89C6;
  /* border-radius: 50%; */
  position: absolute;
  transform: translate(-50%, -50%);
}

@media (max-width: 900px){
  .interactive, .informative, .talkToUs {
    display: none;
  }

  .content-container{
    width: 70%;
    justify-content: space-between;
  }
}


.header-content:hover{
  cursor: pointer;
  background-color: #d3d3d3;
}